<!DOCTYPE html><html>
<head>
    <meta charset="UTF-8">
    <link href="../css/web.css" rel="stylesheet" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/websocket.js"></script>

</head>
<body>
<div class="v1_4">
</div>
<div class="v1_5"></div>
<div class="v1_6">
    <div class="status">진행중</div>
    <div class="status">완료 내역</div>
</div>
<div class="v1_7">접수대기</div>
<div class="v1_14"></div>

<div class="v1_24"></div>

</body></html>